*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding: 0;
  margin: 0;
}

#thumbimg{
  background-image: url('../images/casseta.jpg');  
  background-position:top ;
  background-size:cover;
  height: 100vh;
  display: flex;
  justify-content: center;  
}

.title{
  font-size: 150px;
  color: #ffffff;
  display: flex;
  align-self: center;
  padding-bottom: 30px;
  text-shadow: 3px 3px 6px #555555; 
}

#secbody{
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.container{ 
  display: flex;
  width: 1300px;
  justify-content: center;
  flex-direction: column;   
}

.cttitle{
  padding-top: 20px;
  font-size: 25px;
  border-bottom: 1px solid #ffffff;
}

.ctbody{
  display: flex;
  justify-content: space-center;
  padding-top: 25px;
  
  
}

.description{
  flex-direction: column;
  line-height: 25px;
  word-spacing : 1px;
  font-size: 18px;
  text-align: left;
  display: flex;
  flex: 1;
  
}
.description2 a{

  text-decoration: none;
  color: #22b24d;
}
.integrantes{
  padding-top: 20px;
}
.integrantes_title{
  font-size: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #ffffff;
  
  
  
}
.integrantes ul{
  line-height: 30px;
  margin-left: 5px;
  margin: 0;
  margin-left: 17px;
  padding: 0;
}
#fotos{
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  
}
#fotos img {
  justify-content: space-between;
  margin: 5px;
  width: 160px;
  height: 150px;
  
}
video{
  width: 400px;
  height: 240px;

}


#media{
  display: flex;
  
  justify-content: space-between;
  
}


#lastfoto img{

  width: 300px;
  height: 200px;
 
}

#lf{
  display: flex;
  flex: 1;
  justify-content: space-around;
}

#lf a{
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
}
#msgvideo{
  text-align: center;
}

#rdpe{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #2d2d2d;
  border-top: 1px solid #2d2d2d;


}

#rdpe a{
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}
